* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.navBar {
    background-color: navy;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    border: 5px solid navy;
    height: 50%;
    width: 50%;
    margin: 10% auto;
    align-items: center;
    text-align: center;
}

.content h2  {
    margin-bottom: 20px;
    text-align: center;
}

#button {
    color: white;
    background-color: navy;
    margin: 20px;
}

#button:hover {
    color: navy;
    background-color: white;
}

#scores {
    text-decoration: none;
    color: white;
}

#heading,
#timer {
    color: white;
}

#question1, 
#question2,
#question3,
#game-over {
    display: none;
}


